In [ ]:
import re


lines = open("example1.txt").read().split("\n")


pattern = r"(\d+)\s*(\d+)"
tuples = [re.match(pattern, line).groups() for line in lines]

list_L = [ int(t[0]) for t in tuples]
list_R = [ int(t[1]) for t in tuples]

print(list_L)
print(list_R)

[3, 4, 2, 1, 3, 3]
[4, 3, 5, 3, 9, 3]

In [40]:
listL, listR = sorted(list_L), sorted(list_R)

_ = [print(l) for l in list(zip(listL, listR))]

(1, 3)
(2, 3)
(3, 3)
(3, 4)
(3, 5)
(4, 9)

# Part 1

In [50]:
lines = open("input.txt").read().split("\n")

tuples = [re.match(pattern, line).groups() for line in lines]

list_L = [ int(t[0]) for t in tuples]
list_R = [ int(t[1]) for t in tuples]

listL, listR = sorted(list_L), sorted(list_R)

In [52]:
x = [abs(numR - numL) for numL, numR in zip(listL, listR)]
sum(x)

2192892

`(sol: 2.192.892)`

<br>

# Part 2

In [82]:
import pandas as pd


lines = open("input.txt").read().split("\n")
# lines = open("example2.txt").read().split("\n")

tuples = [re.match(pattern, line).groups() for line in lines]

listL = [ int(t[0]) for t in tuples]
listR = [ int(t[1]) for t in tuples]



df = pd.DataFrame({"L": listL, "R": listR})
df.head()

       L      R
0  98415  86712
1  21839  96206
2  14958  40971
3  91380  63825
4  48482  40971

In [83]:
x = df.R.value_counts()
x.get(2, 0)

df["similarity"] = df["L"].map(x.get).fillna(0)
df.head()

       L      R  similarity
0  98415  86712         0.0
1  21839  96206         0.0
2  14958  40971         0.0
3  91380  63825         0.0
4  48482  40971         0.0

In [84]:
sum(df["L"] * df["similarity"])

22962826.0